@charset "utf-8";
@font-face {
    font-family: "DottedFont";
    font-weight: 600;
    src:url('font/DungGeunMo.ttf') format('truetype');
}
@font-face {
    font-family: "CuteDots";
    font-weight: 300;
    src: url('font/Three_Dots.ttf') format('truetype');
}


body{
    text-align: center;
    font-family: "DottedFont";
    background-color: gainsboro;
    width: 100%;
    margin: 0;
    background-image: url("../imgs/img_bg.png");
    background-repeat: no-repeat;
    background-size:  cover;
}
wrapper{
    padding: 0 100px;
}
header{
    width: 100%;
    height: 300px;
}

li{
    cursor: pointer;
}
#mainMenu{
    position: fixed;
    width: 100%;
    min-width: 1400px;
    height: 110px;
    margin: 0;
    transition-duration: 1s;
    padding-left: 200px;
    border-bottom: 1px solid grey;
    border-bottom-color: rgba(155,155,155,0.5);
}
#mainMenu img{
    position: absolute;
    left: 30px;
    top: 30px;
    
}
#mainMenu:hover{
    overflow: visible;
    transition-duration: 1s;
    background-color: black;
}

.menu{
    float: left;
    width: 300px;
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    height: 110px;
    vertical-align: top;
    line-height: 110px;
    
  
} 
.sub_menu li{
    text-align: left;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.5);

}
.sub_menu li a{
    display: block;
    color: gainsboro;
}
.sub_menu li a:hover{
    text-decoration: underline;
    color: white;
}
contents{
    
}
#event_img{
    width: 1300px;
    height: 500px;
    text-align: center;
    position: relative;
}
#event_img img{
    position: absolute;
}